.hero{
    background: black url(assets/img/hero.jpg) no-repeat 100% center;
    padding: 11rem 0 0 0;
    height: 20.4rem;

    .text1{
        color: $indigo;
        margin: 0%;
        padding: 0 0 0 5rem;
        font-family: "Roboto";
        font-size: 6rem;
        font-weight: 400;
        line-height: 0.3;
    }
    
    .text2{
        color: white;
        margin: 0%;
        padding: 0 0 0 4rem;
        font-family: "Roboto";
        font-size: 4rem;
        font-weight: 100;
    }
}

.intro{
    //background-image: url(assets/img/title-bg.png);
    color: $indigo;
}

.services-panel{
    h1{
        background-color: $indigo;
        color: white;
        margin: 0;
    }
    .links{
        width: 100%;

        a{
            background: $indigo url(assets/img/) no-repeat center;
            height: 16rem;
            padding: 12.5rem 0 0 0;
        }

        a:hover{
            background-color: blue;
        }
    }

    
}

