.hero {
    background: black url(assets/img/hero.jpg) no-repeat 100% center;
    padding: 11rem 0 0 0;
    height: 20.4rem;

    .text1 {
        color: $indigo;
        margin: 0%;
        padding: 0 0 0 5rem;
        font-family: "Roboto";
        font-size: 6rem;
        font-weight: 400;
        line-height: 0.3;
        @media screen and (max-width:414px){
            font-size: 4rem;
            padding-left: 1.875rem;
        }
        @media screen and (max-width:375px) {
            font-size: 3.3rem;
        }
    }
    
    .text2 {
        color: white;
        margin: 0%;
        padding: 0 0 0 4rem;
        font-family: "Roboto";
        font-size: 4rem;
        font-weight: 100;
        @media screen and (max-width:414px){
            font-size: 3rem;
            padding-left: 1.25rem;
        }
        @media screen and (max-width:375px){
            font-size: 2.8rem;
        }
    }
}

.intro{
    background-image: url(assets/img/IMG_4101.jpg);
    color: $indigo;
    padding: 1rem;

    h1{
       margin: 0; 
    }

    p{
        margin-top: 3rem;
    }
    
}

.services-panel{
    h1{
        background-color: $indigo;
        color: white;
        margin: 0;
        
    }
    .links{
        width: 100%;
        margin: 0;
    
        .gestion{
            background: $indigo url(assets/img/gestion.jpg) no-repeat center;
        }

        .clasificacion{
            background: $indigo url(assets/img/clasificacion.jpg) no-repeat center;
        }

        .procesamiento{
            background: $indigo url(assets/img/procesamiento.jpg) no-repeat center;
        }

        .riesgo{
            background: $indigo url(assets/img/riesgo.jpg) no-repeat center;
        }

        .prediccion{
            background: $indigo url(assets/img/prediccion.jpg) no-repeat center;
        }

        .analisis{
            background: $indigo url(assets/img/analisis.jpg) no-repeat center;
        }

        .procesamiento-i{
            background: $indigo url(assets/img/procesamiento-i.jpg) no-repeat center;
        }
        
        a{
            background: $indigo url(assets/img/) no-repeat center;
            height: 16rem;
            width: 33.3%;
            padding: 10.5rem 2rem 0 2rem;
            color: white;
            font-family: 'Roboto';
            font-weight: 700;
            line-height: 1.3;
            font-size: x-large;
            filter: contrast(175%) brightness(50%);
            
            span{
                opacity: 0.5;
            }
        }

        a:hover{
            filter: contrast(175%) brightness(80%);
            text-decoration: none;
        }
    }
}

