.home{
    .entry-title{
        display: none;
    }

    .entry-content {
        padding: 0;
        float: left;
        margin: 0;
    }
}
.supcont{
    padding: 0;
}

.intro{
    background: url(assets/img/IMG_4101.jpg) no-repeat 100% center;
    color: $indigo;
    padding: 1rem;
    height: 39rem;

    h1{
       margin: 1rem;
       text-align: center;
       font-size: 4rem;
    }

    p{
        margin-top: 3rem;
        font-size: 2rem;
    }

    .intro-title{
        float: left;
        width: 60%;
    }
    
    .intro-paragraph{
        float: right;
        width: 40%;
        height: 28rem;
    }
}

.services-panel{

    h1{
        background-color: $indigo;
        color: white;
        margin: 0;
        text-align: center;
        font-size: 3rem;
    }
    .links{
        width: 100%;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        padding: 0;
    
        .gestion{
            background: $indigo url(assets/img/gestion.jpg) no-repeat center;
        }

        .clasificacion{
            background: $indigo url(assets/img/clasificacion.jpg) no-repeat center;
        }

        .procesamiento{
            background: $indigo url(assets/img/procesamiento.jpg) no-repeat center;
        }

        .riesgo{
            background: $indigo url(assets/img/riesgo.jpg) no-repeat center;
        }

        .prediccion{
            background: $indigo url(assets/img/prediccion.jpg) no-repeat center;
        }

        .analisis{
            background: $indigo url(assets/img/analisis.jpg) no-repeat center;
        }

        .procesamiento-i{
            background: $indigo url(assets/img/procesamiento-i.jpg) no-repeat center;
        }

        li {
            list-style: none;
            padding: 0;
            margin: 0;
            flex-grow: 1;
            text-align: center;
        }
        
        a{
            vertical-align: baseline;
            height: 16rem;
            width: 100%;
            color: white;
            font-family: 'Roboto';
            line-height: 29rem;
            font-size: x-large;
            display: inline-block;

            span{
                opacity: 0.5;
            }
        }

        a:hover{
            filter: contrast(175%) brightness(80%);
            text-decoration: none;
        }
    }
}