.main-navigation {
	clear: both;
	display: block;
	position: relative;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 2.5rem 2rem;
		color: $gray-900;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.navbar-social {
    background-color: rgba(16,118, 173, .75);
    padding: 0 1rem;
    .btn-login {
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0.25rem 1rem;
	}
	.social-links-list {
		margin: 0;
		li {
			margin: 0 .5rem;
		}
	}
}
.nav-link {
    padding: 0.5rem;
    path {
        fill: $indigo;
    }
}

.main-menu-container {
	position: absolute;
    right: 0;
	top: 0;
	padding: 1rem 3rem;
	li {
		border-right: 1px solid $gray-400;
		&:last-child {
			border-right: 0 none;
		}
	}
}